/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
error_log
/.idea
/.vscode
/public/assets/images/design-upload/*
/public/assets/images/bukti-transfer/*
/public/studio/data/*
webhook/*
